@page "/counter"
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.VisualBasic
@using SpotifyAPI.Web
@using SpotifyAPI;
@using Swan.Threading
@using Microsoft.AspNetCore.WebUtilities;
@rendermode InteractiveServer
@inject IConfiguration Configuration
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

@if (Tracks == null)
{
    <p><em>Loading...</em></p>
}
else
{
     <thead>
            <tr>
                <div class="playlist-header">
                <div class="playlist-cover">♪</div>
                </div>
                 <div class="playlist-info">
                    <h1 class="playlist-title">@playlistName</h1>
                    <span>@trackCount songs,</span> <span>about @playlistLengthHours hr @playlistLengthMinutes min</span>
                </div>
            </tr>
        </thead>
    <table>
    <!-- Track List -->

        <tbody>
            @foreach (var Track in Tracks)
            {

                <tr class="interactive-table" href="/">
                    <td>@Track.Album.Name</td>
                    <td>@Track.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<FullTrack> Tracks { get; set; } = new List<FullTrack>();
    private String playlistName = "Loading";
    private String playlistDescription = "Loading";
    private int trackCount = 0;
    private int playlistLengthHours = 0;
    private int playlistLengthMinutes = 0;

    protected override async Task OnInitializedAsync()
    {

        await Task.Delay(10); 
        GetPlaylist();
    }
    private async void GetPlaylist() 
    {
        var config = SpotifyClientConfig.CreateDefault();

        var request = new ClientCredentialsRequest(@Configuration["Spotify:CLIENT_ID"], @Configuration["Spotify:SECRET"]);

        var response = await new OAuthClient(config).RequestToken(request);

        var spotify = new SpotifyClient(response);

        var playlist = await spotify.Playlists.Get("4bdpl8pjuQ7O5MBtiXEzpM");

        int playlistTimeLength = 0;

        playlistName = playlist.Name;
        playlistDescription = playlist.Description;

        var allItems = await spotify.PaginateAll(playlist.Tracks);

        foreach (var item in allItems)
        {
            if (item.Track is FullTrack track)
            {
                Tracks.Add(track);
                trackCount++;
                playlistTimeLength += (track.DurationMs/60000);
            }
        }

        playlistLengthHours = playlistTimeLength / 60;
        playlistLengthMinutes =  playlistTimeLength % 60;

        StateHasChanged();
    }
}
