@page "/musicplayer/{refCode}"

@using Microsoft.AspNetCore.SignalR
@using Microsoft.Net.Http.Headers
@using SpotifyAPI.Web
@using SpotifyAPI;
@using Swan.Threading
@using Microsoft.AspNetCore.WebUtilities;
@using System.Diagnostics.Eventing.Reader
@rendermode InteractiveServer
@inject IConfiguration Configuration


    <div class="text-center">
        <h1 class="display-4">@songTitle</h1>

        <div style="left: 0; width: 100%; height: 352px; position: relative;">
            <iframe src="https://open.spotify.com/embed/track/@refCode?:play/" 
                    style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" 
                    allowfullscreen
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture;"
                    loading="lazy"
                    async>
            </iframe>
        </div>
    </div>

@if (@refCode == null)
{
    <p><em>Loading...</em></p>
}
else
{
     <thead>
            <div>
                <p><em>@songTitle</em></p>
                <p><em>@songArtist</em></p>
            </div>
        </thead>
    <table>
    <!-- Track List -->

        <tbody>

        </tbody>
    </table>
}



@code {
    [Parameter]    
    public String refCode{ get; set; }
    private String songTitle = "Loading";
    private String songArtist = "Loading";
    private String songImg = "Loading";

   protected override async Task OnInitializedAsync()
    {

        await Task.Delay(1);
        GetSongInfo();
    }

    private async void GetSongInfo() 
    {
        var config = SpotifyClientConfig.CreateDefault();

        var request = new ClientCredentialsRequest(@Configuration["Spotify:CLIENT_ID"], @Configuration["Spotify:SECRET"]);

        var response = await new OAuthClient(config).RequestToken(request);

        var spotify = new SpotifyClient(response);

        var track = await spotify.Tracks.Get(refCode);

        songTitle = track.Name;

        songArtist = track.Album.Artists.FirstOrDefault().Name;

        StateHasChanged();
    }
    
}
