@page "/UserProfile/{userRefCode}/"
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments
@using Microsoft.VisualBasic
@using Newtonsoft.Json
@using SpotifyAPI.Web
@using SpotifyAPI;
@using Swan
@using Swan.Formatters
@using Swan.Threading
@using Microsoft.AspNetCore.WebUtilities;
@using System.Diagnostics.CodeAnalysis
@using System.Collections.Generic;
@using System.Text.RegularExpressions

@rendermode InteractiveServer
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager



<h1 class="playlist-title">Welcome @userRefCode</h1>

<p>Below is a list of your user information!</p>

@if (@userRefCode != null)
{
    <th>Display Name: </th>
    <p class="song-artist">@displayName</p>
    <th>Follower Count: </th>
    <p class="song-artist">@followerCount</p>
    <th>Subscription Type: </th>
    <p class="song-artist">@subscriptionType</p>
}
else
{
    <p class="song-info">Error: User may not exist. Please contact an administrator or check to see if username was correctly entered.</p>
}



@code {
    [Parameter]    
    public String userRefCode{ get; set; }
    private String displayName = "";
    private int followerCount = 0;
    private String subscriptionType = "";

    private int? _totalPlaylistCount;
    protected override void OnInitialized()
    {

    }

    protected override async Task OnInitializedAsync()
    {
            if(@Configuration["Spotify:CLIENT_ID"] is null || @Configuration["Spotify:SECRET"] is null) {
                FlagErrorPage();
            }
            GetUserProfile();
    }



    private async void GetUserProfile() 
    {
         var config = SpotifyClientConfig.CreateDefault();

        var request = new ClientCredentialsRequest(@Configuration["Spotify:CLIENT_ID"], @Configuration["Spotify:SECRET"]);

        var response = await new OAuthClient(config).RequestToken(request);

        var spotify = new SpotifyClient(response);

        var userprofile = await spotify.UserProfile.Get(userRefCode);

        displayName = userprofile.DisplayName;
        followerCount = userprofile.Followers.Total;
        subscriptionType = userprofile.GetType().ToString();

        StateHasChanged();
    }

    private void NavigateToPlaylists()
    {
        
    }
    private void FlagErrorPage() {
        NavigationManager.NavigateTo($"/error");
    }

}